*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.activeLink{
  color: gold;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  text-transform: capitalize;
  margin-left: 30px;
}